<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bypx.synthesis.dao.MenuInterface">

    <insert id="add" parameterType="Menu">
        insert into jxc_menu(text_,order_,pId,url_,icon_) values(#{text},#{order},#{pId},#{url},#{icon})
    </insert>
    <update id="edit" parameterType="Menu">
        update jxc_menu set text_=#{text},url_=#{url},icon_=#{icon},order_=#{order} where id_=#{id}
    </update>
    <select id="query"  resultMap="menu">
        select * from jxc_menu order by order_ asc
    </select>
    <resultMap id="menu" type="Menu">
        <result column="text_" property="text"></result>
        <result column="url_" property="url"></result>
        <result column="icon_" property="icon"></result>
        <result column="order_" property="order"></result>
        <result column="pId" property="pId"></result>
        <result column="id_" property="id"></result>
    </resultMap>
    <select id="queryPid"  parameterType="String" resultMap="qp">
        select pId from jxc_menu where pId=#{id}
    </select>
    <resultMap id="qp" type="Menu">
        <result column="pId" property="pId"></result>
        <result column="id_" property="id"></result>
    </resultMap>

    <select id="show" parameterType="Menu" resultMap="show">
        select text_,url_,icon_,order_ from jxc_menu where 1=1
    </select>

    <delete id="delete" parameterType="Menu">
        delete  from jxc_menu where id_=#{id}
    </delete>
    <resultMap id="show" type="Menu">
        <result column="text_" property="text"></result>
        <result column="order_" property="order"></result>
        <result column="icon_" property="icon"></result>
        <result column="url_" property="url"></result>
    </resultMap>

</mapper>