<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bypx.synthesis.dao.OrderInterface">

    <insert id="add" parameterType="Variety">
        insert into orderpick(name,price,number,total) values(#{name},#{price},#{number},#{total})
    </insert>

    <insert id="subOrder" parameterType="Variety">
        insert into buy(account,name,price,number,total) values(#{account},#{name},#{price},#{number},#{total})
    </insert>

    <delete id="emptyCart">
        delete from orderpick
    </delete>

    <update id="update">
        update orderpick set number=#{number},total=#{total} where name=#{name}
    </update>


    <select id="query"   resultMap="oo">
        select name,price,number,total from orderpick
    </select>
    <resultMap id="oo" type="Variety">
        <result column="name" property="name"></result>
        <result column="price" property="price"></result>
        <result column="total" property="total"></result>
        <result column="number" property="number"></result>
    </resultMap>

    <select id="queryOrder"   resultMap="qo">
        select account,name,price,number,total from buy
    </select>
    <resultMap id="qo" type="Variety">
        <result column="account" property="account"></result>
        <result column="name" property="name"></result>
        <result column="price" property="price"></result>
        <result column="total" property="total"></result>
        <result column="number" property="number"></result>
    </resultMap>


    <select id="queryName" parameterType="String" resultMap="q">
        select name from orderpick where name=#{name}
    </select>
    <resultMap id="q" type="Variety">
        <result column="name" property="name"></result>
    </resultMap>

    <select id="queryCount" parameterType="String" resultMap="qc">
        select number from orderpick where name=#{name}
    </select>

    <resultMap id="qc" type="Variety">
        <result column="name" property="name"></result>
        <result column="number" property="number"></result>
    </resultMap>

    <select id="querySum" resultType="Double" >
        select sum(total) from orderpick
    </select>




</mapper>