<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bypx.synthesis.dao.PhotoInterface">
    <select id="queryPhoto" parameterType="Variety" resultMap="common">
        SELECT id_,image_name,image_link,price FROM images where 1=1
    </select>
    <resultMap id="common" type="Variety">
        <result column="id_" property="id"></result>
        <result column="image_link" property="photoUrl"></result>
        <result column="image_name" property="name"></result>
        <result column="price" property="price"></result>
    </resultMap>
</mapper>