<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bypx.synthesis.dao.ProductsInterface">

    <insert id="adopt" parameterType="Products">
        insert into jxc_product(id_,type_id_,total_,create_time)
        values(#{id},#{typeId},#{total},#{createTime})
    </insert>

    <update id="updateTotal" parameterType="Products">
        update jxc_product set total_=#{total}  where type_id_=#{typeId}
    </update>
    <update id="updateStatus" parameterType="String">
        update jxc_product_order set status_=2,cause_='库存不足，请先采购' where id_=#{id}
    </update>
    <update id="cause" parameterType="Outbound">
        update jxc_product_order set status_=2,cause_=#{cause} where id_=#{id}
    </update>
    <update id="updateEnd">
        update jxc_product_order set status_=3 where id_=#{id};
    </update>
    <insert id="add" parameterType="Outbound">
        insert into jxc_product_order(id_,type_id_,number_,price_,order_type_,status_,creater_,creater_id_,create_date_)
         values(#{id},#{typeId},#{number},#{price},#{orderType},#{status},#{creator},#{creatorId},#{createTime})
    </insert>

    <select id="queryPro" parameterType="Products" resultMap="qp">
         select id_,type_id_,total_,create_time from jxc_product
         <where>
             <if test="typeId!=null and typeId!=''">
                 and type_id_ like '%${typeId}%'
             </if>
         </where>
          order by create_time desc
    </select>
    <resultMap id="qp" type="Products">
        <result column="id_" property="id"></result>
        <result column="type_id_" property="typeId"></result>
        <result column="total_" property="total"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>

    <select id="queryReName" parameterType="Products"  resultMap="common">
        select type_id_ from jxc_product where type_id_=#{typeId}
    </select>
    <resultMap id="common" type="Products">
        <result column="type_id_" property="typeId"></result>
    </resultMap>

    <select id="queryTotal" parameterType="String" resultMap="c">
        select total_ from jxc_product where type_id_=#{typeId}
    </select>
    <resultMap id="c" type="Products">
        <result column="total_" property="total"></result>
        <result column="type_id_" property="typeId"></result>
    </resultMap>

    <select id="queryTotalByName" parameterType="String" resultMap="qtbn">
        select total_ from jxc_product where type_id_=#{typeId}
    </select>
    <resultMap id="qtbn" type="Products">
        <result column="total_" property="total"></result>
        <result column="type_id_" property="typeId"></result>
    </resultMap>

</mapper>